* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    border-bottom: 1px solid #173d37;
    width: 100%;
    position: fixed;
    z-index: 100;
}

main {
    height: auto;
    background-color: wheat;
}

footer {
    background-color: #000000;
    margin-top: auto;
    border-top: 0.5px solid #173d37;
    width: 100%;
}


/* HEADER */ 
    /*div del logo*/
    .divLogo:hover {
        filter: drop-shadow(0px 0px 10px rgb(119,246,226));
        animation: shake 1s linear 0s 1 normal none;
    }

    /* div de la ul */
    .navHeader {
        width: 23rem;
        justify-content: space-between;
    }
    /* li */
    .nav-link{
        font-size: 1.1rem;
        font-weight: bold;
        color: #77f6e2;
        filter: brightness(1.15);
    }
    .nav-link:hover {
        background: linear-gradient( to right, #77f6e2, #e8d434);
        -webkit-background-clip: text;
            background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* subrayado de los li */
    .nav-link::after {
        content: "";
        display: block;
        width: 0;
        height: 0.2em;
        background: linear-gradient(to right, #77f6e2, #e8d434);
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: 0.25s;
    }
    .nav-link:hover::after {
        width: 100%;
    }

    /* menu hamburguesa */
    .navbar-toggler-icon {
        background-color: #e8d434;
        border-radius: 30%;
        border: 2px solid #9c8b0c;
        font-size: 2rem;
    }






/* MAIN */
    /* home */
    .homeSection {
        background-color: #0a0a0a;
    }
    
    .banner {
        height: 100vh;
        padding: 2em;
    }

    /* home 1/2 */
    .homeUs {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: SwingLeft 1s ease 0s 1 normal forwards;
    }
    .us {
        padding-top: 1em;
        font-size: 4.5em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor:default;
    }
    
     /* home 2/2 */ 
    .homeLogo {
        height: 480px;
        width: 450px;
        animation: SwingRight 1s ease 0s 1 normal forwards;
    }
    .logoHome{
        height: 100%;
        padding-bottom: 1em;
    }

    /* to right gradient color for text */
    .text-gradient {
        background: linear-gradient( to right, #77f6e2, #e8d434);
        -webkit-background-clip: text;
            background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    /* boxes con especificaciones */
    .boxInfo {
        height: 220px;
        width: 400px;
        color: white;
        margin: 2em;
        padding: 2em;
        text-align: center;
    }
    .boxInfo:hover {
        animation: boxRotate 0.5s ease 0s 1 normal forwards;
        .titulo{
                background: linear-gradient( to right, #77f6e2, #e8d434);
                -webkit-background-clip: text;
                    background-clip: text;
                -webkit-text-fill-color: transparent;
        }
    }

    .gradient-border {
        background-color: #000000;
        border: 2px solid transparent;
        border-image: linear-gradient(to right, #77f6e2, #e8d434) 1;
        border-image-slice: 10;
      }










/* FOOTER */
.divFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        background-color: #000000;
        color: #77f6e2;
    }

    .aFooter{
        color: #77f6e2;
        text-decoration: none;
    }
    .aFooter:hover {
        filter: drop-shadow(0px 0px 5px rgb(119,246,226));    
        text-decoration: underline;
    }






/* a este px arranca el hamburguer menu */
@media screen and (max-width:575px){
    .us {
        text-align: center;
    }
}

/* Keyframes animations */
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}
 
@keyframes shadow-drop-center {
    0% {
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  

@keyframes shadow-pop-br {
    0% {
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              transform: translateX(0) translateY(0);
    }
    100% {
              box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
              transform: translateX(-8px) translateY(-8px);
    }
  }

  /* @keyframes shadow-pop-br {
    0% {
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              transform: translateX(0) translateY(0);
    }
    100% {
              box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
              transform: translateX(-8px) translateY(-8px);
    }
  } */
  

  @keyframes SwingLeft {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@keyframes SwingRight {
	0% {
		opacity: 0;
		transform: rotateY(-100deg);
		transform-origin: right;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: right;
	}
}

@keyframes boxRotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(3deg);
	}
}