* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    border-bottom: 0.5px solid #77f6e2;
    filter: brightness(0.95);
}

main {
    height: auto;
    background-color: wheat;
}

footer {
    background-color: #000000;
    margin-top: auto;
    border-top: 0.5px solid #77f6e2;
    filter: brightness(0.95);
}


/* HEADER */ 
    /*div del logo*/
    .divLogo:hover {
        filter: drop-shadow(0px 0px 10px rgb(119,246,226));
        animation: shake 1s linear 0s 1 normal none;
        transition: .25;
    }

    /* div de la ul */
    .navHeader {
        width: 23rem;
        justify-content: space-between;
    }
    /* li */
    .nav-link, .nav-link:hover {
        font-size: 1.1rem;
        color: #77f6e2;
        filter: brightness(1.15);
    }

    /* subrayado de los li */
    .nav-link::after {
        content: "";
        display: block;
        width: 0;
        height: 0.2em;
        background: linear-gradient(to right, #77f6e2, #e8d434);
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: 0.25s;
    }
    .nav-link:hover::after {
        width: 100%;
    }

    /* menu hamburguesa */
    .navbar-toggler-icon {
        background-color: #e8d434;
        border-radius: 30%;
        border: 2px solid #9c8b0c;
        font-size: 2rem;
    }






/* MAIN */
    /* home */
    .home {
        background-image: url(/assets/homeBg.png);
        height: 100vh;
    }
    /* home 1/2 */
    .home1 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .us {
        padding: 1rem;
        color: black;
        font-size: 1.8em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 1px solid #297065;
        border-radius: 10%;
        opacity: .85;
        background: linear-gradient(to right,#77f6e2, #e8d434);
        cursor:default;
    }
   /* home 2/2 */
    .home2 {
        width: 50%;
    }    
    .logoHome {
        width: 100%;
        animation: hook 2s ease 1s infinite reverse none;
    }
   











/* FOOTER */
.divFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        background-color: #000000;
        color: #77f6e2;
    }

    .aFooter{
        color: #77f6e2;
        text-decoration: none;
    }
    .aFooter:hover {
        filter: drop-shadow(0px 0px 5px rgb(119,246,226));    
        text-decoration: underline;
    }





@media screen and (max-width:575px){
    
}

/* Keyframes animations */
   @keyframes hook {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}
